* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

body {
  background-color: #f5f5f5;

  max-width: 1200px;
  margin: 0 auto;
}

/* header section */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin: 20px 50px;
}

.d {
  color: #b8001f;
}

.option ul {
  list-style: none;
}

.option ul li a {
  text-decoration: none;
  margin-right: 50px;
  font-size: 20px;
  color: black;
}

/* .logo{
    margin-left: 100px;
} */
.First-button {
  color: white;
  padding: 15px 35px;
  background-color: #ff6600;
  border: 0;
  border-radius: 6px;
  font-size: 20px;
  font-weight: 700;
}

.First-button:hover {
  cursor: pointer;
  background-color: #3c3d37;
  color: #ff6600;
}

/* hero-section */

.hero-section {
  background-color: #fff8f3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.text-area {
  margin: 50px;
}

.text-area h1 {
  font-size: 48px;
}

.text-area p {
  font-size: 24px;
  padding: 10px 0;
}

.text-area a {
  padding: 15px 10px;
}

img {
  width: 600px;
  vertical-align: middle;
}

/* About section  */
.about {
  width: 100%;
  border: 0;
  border-radius: 5px;
  background-color: #e9efec;
  margin: auto;
  margin-top: 100px;
  text-align: center;
  padding: 50px 0;
}

.about h1 {
  font-size: 80px;
  padding-bottom: 30px;
}
.about-info{
  display: flex;
  justify-content: space-around;

}
.about p {
  text-align: left;
  padding: 15px 80px;
  font-size: 20px;
}

/* service */

.service {
  width: 80%;
  margin: auto;
  margin-top: 100px;
  padding: 40px 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.box1 {
  width: 25%;
  background-color: #ffffff;
  padding: 30px;
  box-shadow: 0 6px 50px 0 #181c1473;
}

.box1 i {
  font-size: 40px ;
}

.box1 h1 {
  font-size: 40px;
}

.box1 p {
  font-size: 16px;
  padding: 15px 0;
}

/* 
footer */

footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 90px 10px;
  padding-top: 40px;
}

.content {
  width: 40%;
  align-items: center;
  padding: 70px;
}

.content h1 {
  font-size: 40px;
  padding-bottom: 10px;
}

.content p {
  font-size: 20px;
  font-weight: 400;
}

.link i {
  font-size: 30px;
  color: #ff6600;
  padding-top: 15px;
  padding-left: 10px;
  cursor: pointer;
}

.from input {
  font-size: 20px;
  width: 450px;
  display: block;
  border: 1px solid#ffffff;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}
.from input[type="massage"] {
  height: 150px;
  padding-bottom: 60%;
  
}
